body{
    background-color: rgba(116, 110, 113, 0.767);
}
.bus2{
    font-family: 'Lato', sans-serif;
    font-size: 300%;
}
.bus{
    font-family: 'Old Standard TT', serif;
    font-size: 200%;
}
.contanier-fluid{
    padding: 3% 7%
   
}